@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffc3;
  border: 3px solid transparent;
  border-radius: 7px;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

body {
  overflow-x: hidden;
  background-color: #000000;
  color: #00ffc3;
  scroll-behavior: smooth;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.customContainer {
  width: 100%;
}

.hideNav {
  transform: translateY(-100%);
}

.blur-backdrop-filter {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (min-width: 640px) {
  .customContainer {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .customContainer {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .customContainer {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .customContainer {
    max-width: 768px;
  }
}
@media (min-width: 1536px) {
  .customContainer {
    max-width: 1024px;
  }
}
